Restaurant/Restaurant/Service References/WebService/RestaurantService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:5023/Services/RestaurantService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:5023/Services/RestaurantService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5023/Services/RestaurantService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Restaurant.DTO" />
      <xsd:import schemaLocation="http://localhost:5023/Services/RestaurantService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RestaurantService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="RestaurantService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="RestaurantService_AppName_InputMessage">
    <wsdl:part name="parameters" element="AppName" />
  </wsdl:message>
  <wsdl:message name="RestaurantService_AppName_OutputMessage">
    <wsdl:part name="parameters" element="AppNameResponse" />
  </wsdl:message>
  <wsdl:message name="RestaurantService_Login_InputMessage">
    <wsdl:part name="parameters" element="Login" />
  </wsdl:message>
  <wsdl:message name="RestaurantService_Login_OutputMessage">
    <wsdl:part name="parameters" element="LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="RestaurantService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:RestaurantService/DoWork" message="RestaurantService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:RestaurantService/DoWorkResponse" message="RestaurantService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppName">
      <wsdl:input wsaw:Action="urn:RestaurantService/AppName" message="RestaurantService_AppName_InputMessage" />
      <wsdl:output wsaw:Action="urn:RestaurantService/AppNameResponse" message="RestaurantService_AppName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="urn:RestaurantService/Login" message="RestaurantService_Login_InputMessage" />
      <wsdl:output wsaw:Action="urn:RestaurantService/LoginResponse" message="RestaurantService_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>